iminuit==1.5.2
matplotlib==3.4.3
scipy==1.7.1
snakemake==6.14.0
py-cpuinfo
uproot
uproot3
awkward
numpy
six
uncertainties
pandas
numdifftools
emcee
hjson
reikna
tqdm
corner
termplotlib
hep_ml
complot==0.0.2.dev2
lib99ocl
ipanema3
sympy
htcondor
