snakemake
py-cpuinfo
uproot
uproot3
numpy
scipy==1.7.1
six
uncertainties
pandas
numdifftools
emcee
hjson
reikna
iminuit==1.5.2
matplotlib==3.4.3
tqdm
corner
termplotlib
complot
lib99ocl
ipanema3
hep_ml
